In [18]:
import numpy as np
import pandas as pd
import seaborn as sn
import matplotlib as plt

# Data frame

In [20]:
df = pd.read_csv("training.csv")
df.head()

,ID,Age,Gender,Marital status,Highest Qualification,Household status,Land ownership,Mobile phone users,Salary/wage earner?,Selling products/goods,...,Frequency of Mobile money bill pays,Literacy in Kiswhahili,Literacy in English,Latitude,Longitude,mobile_money,savings,borrowing,insurance,mobile_money_classification
0,5086,98,2,3,1,1,2,2,0,0,...,-1,4,4,-4.460442,29.811396,0,0,0,0,0
1,1258,40,1,1,3,5,1,1,1,0,...,4,1,4,-6.176438,39.244871,1,1,1,0,3
2,331,18,2,4,6,3,2,1,0,0,...,-1,1,1,-6.825702,37.652798,1,0,0,0,2
3,6729,50,1,1,3,1,1,1,0,0,...,-1,1,4,-3.372049,35.808307,1,0,1,0,3
4,8671,34,1,1,1,1,2,1,0,1,...,-1,1,4,-7.179645,31.039095,1,1,0,1,3

 
 
 
 # Finding if there is any missing values from the data-frame.

In [9]:
display(df.isnull().sum())

ID                                                    0
Age                                                   0
Gender                                                0
Marital status                                        0
Highest Qualification                                 0
Household status                                      0
Land ownership                                        0
Mobile phone users                                    0
Salary/wage earner?                                   0
Selling products/goods                                0
Providing services                                    0
Piece jobs                                            0
Rental income                                         0
Saving/investments                                    0
Pensions                                              0
Government                                            0
Money given by someone                                0
No income                                             0
Other                                                 0
Employment info for salary earners                    0
Sellers' good/products                                0
Services from Providers                               0
Money sent for the past yr                            0
Last time money sent                                  0
Money received in past 12 month                       0
Last time money received                              0
frequency of Mobile money goods/services purchases    0
Frequency of Mobile money bill pays                   0
Literacy in Kiswhahili                                0
Literacy in English                                   0
Latitude                                              0
Longitude                                             0
mobile_money                                          0
savings                                               0
borrowing                                             0
insurance                                             0
mobile_money_classification                           0
dtype: int64

* There are no missing values

# Checking number of males and females

In [8]:
display(df["Gender"].value_counts())

2    3972
1    3122
Name: Gender, dtype: int64

* Males = 3122 and Females = 3972

# Age-data
  ## _The youngest and the oldest person_

In [11]:
print(df['Age'].min())
print(df['Age'].max())

16
100

* Yougest person(s) = 16, Oldest = 100

 ## Grouping by age-interval

In [12]:
bins = pd.cut(df['Age'] ,[15,24,35,44,55,64,100]).value_counts()
bins

(24, 35]     2249
(15, 24]     1535
(35, 44]     1145
(44, 55]     1009
(64, 100]     638
(55, 64]      518
Name: Age, dtype: int64

 #### Age groups
 * 16 to 24 = 1535
 * 25 to 34 = 2249
 * 35 to 45 = 1145
 * 55 to 64 = 518
 * 65 to 100 = 638

# People who use mobile money

In [14]:
display(df["mobile_money"].value_counts())

1    3930
0    3164
Name: mobile_money, dtype: int64

   * number of people who use mobile money = 3920
   * number of people who dont use mobile money  = 3164

In [ ]:
display(nobel.loc[nobel.prize_share != '1/1'])

In [20]:
git status

SyntaxError: invalid syntax (<ipython-input-20-d93c8dd246e3>, line 1)