In [1]:
pwd

'C:\\Users\\KHOMOTSO1'

In [2]:
cd Videos

C:\Users\KHOMOTSO1\Videos

In [3]:
import numpy as np
import pandas as pd
import seaborn as sn
import matplotlib as plt

df = pd.read_csv("training.csv")
df.head()

,ID,Age,Gender,Marital status,Highest Qualification,Household status,Land ownership,Mobile phone users,Salary/wage earner?,Selling products/goods,...,Frequency of Mobile money bill pays,Literacy in Kiswhahili,Literacy in English,Latitude,Longitude,mobile_money,savings,borrowing,insurance,mobile_money_classification
0,5086,98,2,3,1,1,2,2,0,0,...,-1,4,4,-4.460442,29.811396,0,0,0,0,0
1,1258,40,1,1,3,5,1,1,1,0,...,4,1,4,-6.176438,39.244871,1,1,1,0,3
2,331,18,2,4,6,3,2,1,0,0,...,-1,1,1,-6.825702,37.652798,1,0,0,0,2
3,6729,50,1,1,3,1,1,1,0,0,...,-1,1,4,-3.372049,35.808307,1,0,1,0,3
4,8671,34,1,1,1,1,2,1,0,1,...,-1,1,4,-7.179645,31.039095,1,1,0,1,3

#

In [4]:
display(df.isnull().sum())

ID                                                    0
Age                                                   0
Gender                                                0
Marital status                                        0
Highest Qualification                                 0
Household status                                      0
Land ownership                                        0
Mobile phone users                                    0
Salary/wage earner?                                   0
Selling products/goods                                0
Providing services                                    0
Piece jobs                                            0
Rental income                                         0
Saving/investments                                    0
Pensions                                              0
Government                                            0
Money given by someone                                0
No income                                             0
Other                                                 0
Employment info for salary earners                    0
Sellers' good/products                                0
Services from Providers                               0
Money sent for the past yr                            0
Last time money sent                                  0
Money received in past 12 month                       0
Last time money received                              0
frequency of Mobile money goods/services purchases    0
Frequency of Mobile money bill pays                   0
Literacy in Kiswhahili                                0
Literacy in English                                   0
Latitude                                              0
Longitude                                             0
mobile_money                                          0
savings                                               0
borrowing                                             0
insurance                                             0
mobile_money_classification                           0
dtype: int64

In [5]:
display(df["Gender"].value_counts())

2    3972
1    3122
Name: Gender, dtype: int64

In [11]:
print(df['Age'].min())
print(df['Age'].max())

16
100

In [18]:
bins = pd.cut(df['Age'], [15,24,35,44,55,64,100]).value_counts()
bins

(24, 35]     2249
(15, 24]     1535
(35, 44]     1145
(44, 55]     1009
(64, 100]     638
(55, 64]      518
Name: Age, dtype: int64

In [19]:
df.info

<bound method DataFrame.info of         ID  Age  Gender  Marital status  Highest Qualification  \
0     5086   98       2               3                      1
1     1258   40       1               1                      3
2      331   18       2               4                      6
3     6729   50       1               1                      3
4     8671   34       1               1                      1
...    ...  ...     ...             ...                    ...
7089  8378   57       2               3                      3
7090   881   32       1               1                      6
7091  6672   22       2               3                      3
7092  5416   28       2               1                      3
7093  3946   78       1               3                      1

      Household status  Land ownership  Mobile phone users  \
0                    1               2                   2
1                    5               1                   1
2                    3               2                   1
3                    1               1                   1
4                    1               2                   1
...                ...             ...                 ...
7089                 1               2                   2
7090                 3               1                   1
7091                 3               2                   2
7092                 1               2                   2
7093                 1               2                   2

      Salary/wage earner?  Selling products/goods  ...  \
0                       0                       0  ...
1                       1                       0  ...
2                       0                       0  ...
3                       0                       0  ...
4                       0                       1  ...
...                   ...                     ...  ...
7089                    0                       1  ...
7090                    0                       1  ...
7091                    0                       1  ...
7092                    0                       1  ...
7093                    0                       0  ...

      Literacy in Kiswhahili  Literacy in English  Latitude  Longitude  \
0                          4                    4 -4.460442  29.811396
1                          1                    4 -6.176438  39.244871
2                          1                    1 -6.825702  37.652798
3                          1                    4 -3.372049  35.808307
4                          1                    4 -7.179645  31.039095
...                      ...                  ...       ...        ...
7089                       1                    4 -5.811335  35.098103
7090                       1                    1 -2.635156  32.945423
7091                       4                    4 -8.303729  31.059642
7092                       1                    4 -8.090712  35.836560
7093                       4                    4 -5.192204  38.764523

      mobile_money  savings  borrowing  insurance  \
0                0        0          0          0
1                1        1          1          0
2                1        0          0          0
3                1        0          1          0
4                1        1          0          1
...            ...      ...        ...        ...
7089             0        1          0          0
7090             1        1          0          0
7091             0        0          0          0
7092             1        0          0          1
7093             0        0          0          0

      mobile_money_classification  decade
0                               0      90
1                               3      40
2                               2      10
3                               3      50
4                               3      30
...                           ...     ...
7089                            1      50
7090                            3      30
7091                            0      20
7092                            3      20
7093                            0      70

[7094 rows x 38 columns]>

In [ ]:
display(nobel.loc[nobel.prize_share != '1/1'])

In [20]:
git status

SyntaxError: invalid syntax (<ipython-input-20-d93c8dd246e3>, line 1)